.main {
  height: 720px;
  font-size: 20px;
  background: #000;
}


.circle-static {
  margin: 250px 0px 0px -60px;
  transform: rotate(90deg);
}
.circle-static-portable {
  margin: 70px 0px 0px 118px;
}



.circle {
  left: -3px;
  top: 180px;
  position: absolute;
  will-change: transform;
}
.circle-portable {
  left: 180px;
  top: -3px;
  position: absolute;
  will-change: transform;
}

.consoleButton {
  margin-top: 10px;
  margin-left: 0px;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0);
  color: #fff;
  z-index: 11;
  border-width: 0px;
  outline: 0px;
}
.interactWindow {
  position: absolute;
  font-size: 13px;
  width: 360px;
  height: 720px;
  background: rgba(0,0,0,0.7);
  color: #ddd;
  z-index: 9;
  top:0;
}
.interactWindow_center {
  position: absolute;
  width: 340px;
  overflow-y: scroll;
  margin: 5px 10px 5px 10px;
  z-index: 15;
  text-align: center;
  white-space: normal;
  text-shadow: 1px 1px 2px black, 0 0 2em white;
  font-size: 32px;
  color: #fff;
}
.interactWindow_img {
  position: absolute;
  width: auto;
  height: 720px;
}
.interactWindow_chart {
  height: 620px;
  margin-top: 100px;
  position: absolute;
  z-index: 25;
}
.interactWindow_bottom {
  height: 720px;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  z-index: 30;
}
.interactWindow_bottom button {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-shadow: 1px 1px 2px black, 0 0 2em white;
  font-size: 14px;
  color: #fff;
  width: 300px;
  height: 70px;
  margin: 0px 0px 30px 30px;
}
.console {
  position: absolute;
  font-size: 13px;
  width: 360px;
  height: 720px;
  background: rgba(0,0,0,0.8);
  color: #ddd;
  z-index: 10;
  top:0;
}
.console_top {
  width: 100%;
  height: 30px;
  margin: 5px 10px 5px 10px;
}
.console_center {
  white-space: normal;
  width: 340px;
  height: 650px;
  overflow-y: scroll;
  margin: 5px 10px 5px 10px;
}
.inputCommandLine {
  width: 100%;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  margin: 0px 5px 10px 5px;
  color: #ddd;
  border: 0px;
  background: rgba(0, 0, 0, 0);
}
.console_string {
  color: #777;
  margin-bottom: 5px;
}
.console_html {
  color: #76a;
  margin-bottom: 5px;
}
.console_chat {
  color: #fff;
  margin-bottom: 5px;
}
.console_err {
  color: red;
  margin: 10px 0px 10px 0px;
}
.console_aska {
  color: #fa2;
  margin-bottom: 5px;
}
#c1 {
  animation-name: anim;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c2 {
  animation-name: anim;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c3 {
  animation-name: anim;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c4 {
  animation-name: anim;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c5 {
  animation-name: anim;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c6 {
  animation-name: anim;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c7 {
  animation-name: anim;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c8 {
  animation-name: anim;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c9 {
  animation-name: anim;
  animation-duration: 110s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: transform;
}
#c10 {
  animation-name: anim;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes anim {
  0%{
    transform:rotate(0deg);
    }
  100%{
    transform:rotate(360deg);
    }
  }
