/* Контейнер поверх Канваса с шейдером */
html, body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#main_container{
  height: 100%;
  overflow: auto;
  margin: 0px 0px 0px 0px;
  z-index: 5;
  position: absolute;
  white-space: nowrap;
  font-size: 0px;
}
#container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: absolute;
  font-size: 0px;
}
.page {
  width: 360px;
  height: 720px;
  display: inline-block;
  vertical-align: middle;
}
#projectName{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height:120px;
  padding-top:50px;
  color:rgba(50, 50, 50, 1);
  font-size: 90pt;
}
/* Отображение разпознаных слов */
.words {
  text-align: center;
  min-height:690px;
  font-family: 'Exo 2', sans-serif;
  width:100%;
  color: rgba(0, 0, 0, 0.5);
  line-height:2rem;
}
p {
  font-family: 'Jura', sans-serif;
  margin: 0;
}
.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
}
#draw {
  z-index: -5;
  position: absolute;
}
#cube0 {
  width: 360px;
  height: 720px;
  background: #5a7;
}
#cube1 {
  width: 360px;
  height: 720px;
  background: #3f2;
}
#cube2 {
  width: 360px;
  height: 720px;
  background: #a4f;
}
